Repository tf63/storybook-vrt-playground: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yaml:

pre-commit:
  piped: true
  commands:
    biome:
      priority: 1
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: |
        pnpm biome check {staged_files} --write
      stage_fixed: true
      skip:
        - merge
        - rebase

    prettier:
      priority: 2
      glob: "*.{md,mdx,yml,yaml,css,html}"
      run: |
        pnpm prettier {staged_files} --write
      stage_fixed: true
      skip:
        - merge
        - rebase

post-merge:
  commands:
    pnpm:
      glob: "{package.json,pnpm-lock.yaml}"
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: |
        pnpm commitlint --edit {1}

feat: setup environment
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  src/features/sample-block/sample-block.spec.tsx
  src/features/sample-card/sample-card.spec.tsx
Due: biome, prettier

feat: setup playwright
  compose.yaml
  package.json
  playwright.config.ts
Due: biome, prettier

feat: add sample vrt
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-chromium-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-chromium-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-desktop-1440-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-firefox-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-mobile-375-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-tablet-768-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-webkit-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-webkit-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-chromium-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-chromium-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-desktop-1440-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-firefox-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-mobile-375-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-tablet-768-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-webkit-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-webkit-mobile-linux.png
  tests/vrt.test.ts
Due: biome

feat: add playwright/test
  package.json
  pnpm-lock.yaml
Due: biome, prettier

feat: update commitlint config
  .commitlintrc
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: biome, prettier

feat: move storybook server to container
  README.md
  compose.yaml
  package.json
  playwright.config.ts
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-chromium-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-chromium-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-desktop-1440-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-firefox-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-mobile-375-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-tablet-768-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-webkit-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-webkit-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-chromium-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-chromium-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-desktop-1440-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-firefox-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-mobile-375-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-tablet-768-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-webkit-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-webkit-mobile-linux.png
  tests/vrt.test.ts
Due: biome, prettier

feat: update story style
  .storybook/preview.tsx
  README.md
  src/features/sample-block/sample-block.stories.tsx
  src/features/sample-card/sample-card.stories.tsx
Due: biome, prettier

feat: adjust fonts
  Dockerfile
  compose.yaml
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-chromium-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-chromium-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-desktop-1440-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-firefox-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-mobile-375-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-tablet-768-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-webkit-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-aumoncard--default-webkit-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-chromium-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-chromium-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-desktop-1440-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-firefox-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-mobile-375-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-tablet-768-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-webkit-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-sampleblock--default-webkit-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-chromium-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-chromium-mobile-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-desktop-1440-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-firefox-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-mobile-375-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-tablet-768-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-webkit-linux.png
  tests/vrt-snapshots/vrt.test.ts-snapshots/features-samplecard--default-webkit-mobile-linux.png
Due: prettier
